.mainBody {
  padding: 2rem 0;
  background-color: #141517;
  font-family: 'Josefin Sans', sans-serif;
}

.innerBody {
  width: 100%;
}

.brandLogo {
  display: block;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.formBody {
  width: 100%;
  border: 1px #fd5457 solid;
  border-radius: 10px;
}

.form {
  margin: 3rem auto;
  width: 80%;
}

.dividerArea {
  width: 80%;
  margin: 2rem auto;
  display: flex;
}

.divider {
  flex: 1;
  height: 1px;
  background: #ccc;
  margin-top: auto;
  margin-bottom: auto;
}

.dividerText {
  color: #ccc;
  margin-left: 10px;
  margin-right: 10px;
}

.federatedArea {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-between;
}

.bottomText {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #fdfdfd;
  font-size: 1rem;
}

.codeHeading {
  width: 80%;
  margin: 2rem auto 0 auto;
  text-align: center;
  color: #ccc;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: var(--color-primary);
  box-shadow: none;
  border-bottom: 2px solid var(--color-primary)
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
select:focus:not([readonly])
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  border-color: var(--color-secondary) !important;
}

input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default){
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .federatedArea {
    display: block;
  }
}