.cardImage {
  flex: 2;
  height: 100%;
}

.mainContent {
  flex: 3;
  color: #fefefe;
  font-family: 'Josefin Sans', sans-serif;
}

.innerContent {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTitle {
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.info {
  display: flex;
  font-size: 1rem;
}

.remainingInfo {
  width: 60%;
  border: 1px #fefefe solid;
  border-radius: 50px;
  text-align: center;
}

.hoursText {
  margin: 0;
  padding: 2px;
  font-size: 0.75rem;
}

.favouriteCheckBox {
  width: 30%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.favouriteCheckBox i {
  cursor: pointer;
}

.cardButtons {
  display: flex;
}

.playButton {
  width: 70%;
  background: #fefefe;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.playButton:hover {
  background: #ccc;
}

.playText {
  color: #1d1d1d;
  margin: 0;
  padding: 6px;
}

.menuBar {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.menuBar:hover {
  color: #ccc;
  cursor: pointer;
}

.menuBar:active {
  color: #ccc;
}

@media (max-width: 425px) {
  .info {
    font-size: 0.6rem;
  }

  .cardTitle {
    font-size: 0.8rem;
  }

  .favouriteCheckBox {
    font-size: 0.8rem;
  }

  .playText {
    font-size: 0.6rem;
  }

  .menuBar {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .hoursText {
    font-size: 0.5rem;
  }
}