.referImage {
  height: 100%;
  width: 9rem;
  margin-right: 2rem;
}

.invitePara {
  font-size: 1rem;
  margin:0;
}

.inviteSection {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 1.2rem;
}

.inviteHeading {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.highlightedText {
  color: #fd5457;
}


/* MEDIA QUERIES  */

@media (max-width: 1280px) {

  .inviteHeading {
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

  .invitePara {
  font-size: 0.85rem;
  }

}


@media (max-width: 768px) {

  .inviteHeading {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .invitePara {
  font-size: 0.75rem;
  }

  .referImage {
    width: 7rem;
  }

}

@media (max-width: 600px) {

  .inviteHeading {
    margin-bottom: .5rem;
  }

  .inviteSection {
    padding-right: .5rem;
  }

}

@media (max-width: 350px) {

  .inviteHeading {
    margin-bottom: .3rem;
    font-size: 0.8rem;
  }

  .invitePara {
    font-size: 0.6rem;
    }

  .inviteSection {
    padding-right: .3rem;
  }

   .referImage {
    width: 5rem;
  }

}

/* <---------------------------------------------------------BOOK CARD--------------------------------------------------------> */

.bookImage {
  width: 25%;
} 

.bookDetails {
  margin: 1rem;
  margin-left: 2rem;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookTitle {
  font-size: 1.5rem;
  margin: 0;
}

.slider {
  width: 80%;
}

.bottomText {
  display: flex;
  justify-content: space-between;
}

.delete {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .bookImage {
    width: 33%;
  }

  .bookTitle {
    font-size: 1rem;
  }

  .slider {
    width: 90%;
  }

  .bottomText {
    font-size: 0.6rem;
  }
}

@media (max-width: 600px) {
  .bottomText {
    font-size: 0.8rem;
  }
}

@media (max-width: 440px) {
  .bottomText {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .bookTitle {
    font-size: 0.8rem;
  }
}