.brandLogo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.uploadContainer {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.menu {
  color: #ccc;
  font-family: 'Josefin Sans', sans-serif;
}

.menuItem {
  width: 95%;
  margin-bottom: 1rem;
  padding-left: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.menuItem:hover {
  background-color: rgba(255, 243, 243, 0.15);
  color: #fd5457;
}

.otherItems {
  color: #ccc;
  margin-top: auto;
  margin-bottom: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.mainArea {
  background: #141517;
}

.innerArea {
  width: calc(100% - 240px);
  margin-left: 240px;
}

.emptyArea {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyInnerArea {
  width: 25%;
}

.uploadImage {
  width: 100%;
}

.uploadText {
  color: #ccc;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}