.brandLogo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.uploadContainer {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.menu {
  color: #FEFEFE;
  font-family: 'Josefin Sans', sans-serif;
}

.menuItem {
  width: 95%;
  margin-bottom: 1rem;
  padding-left: 25%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.menuItem:hover {
  background-color: rgba(255, 227, 227, 0.15);
}

.menuItem i {
  height: 14px;
}

.otherItems {
  color: #ccc;
  margin-top: auto;
  margin-bottom: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.otherItems .menuItem:active {
  color: #fd5457;
}

.mainArea {
  background: #141517;
}

.innerArea {
  width: calc(100% - 240px);
  margin-left: 240px;
}

.playerLargeArea {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #141517;
}

.playerSmallArea {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: rgba(29, 29, 29, 0.85);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

@media (max-width: 768px) {
  .brandLogo {
    width: 30%;
    margin-bottom: 5rem;
  }

  .innerArea {
    width: 100%;
    margin-left: 0;
  }

  .playerSmallArea {
    bottom: 9.9%;
  }
}

@media (max-width: 425px) {
  .brandLogo {
    width: 60%;
  }
}