.footerInner {
  background-color: #1d1d1d;
  border-top: 1px solid #00000098;
}
.footerOuter {
  height: 1.5rem;
  background-color: #fd5457;
  border-bottom: 1.2px solid black;
}

.company {
  margin-bottom: 1.5rem;
}

.company a {
  display: inline-block;
  color: #c4c4c4;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0.6rem;
}
.company a:hover {
  color: '#c4c4c4';
  opacity: 0.8;
}