html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #141517;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#showcaseImage {
  background-image: url('/assets/kit/coverAsset@10x.png');
  background-size: 100% auto;
  height: inherit;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  #showcaseImage {
    background-size: 250% auto;
    height: 75vh;
    background-position-x: 82%;
  }
}
