.navLink a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  padding: 0;
  /* text-transform: uppercase; */
  color: #fd5457;
  margin-right: 1.2rem;
  opacity: 1;
  padding: 0 1.25rem;
}

.navLink a:hover {
  color: #b92e31;
  text-decoration: none;
  opacity: 0.9;
}

@media(max-width: 768px) {
  .navLink a {
    display: block;
    margin: 1rem 1.2rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #c4c4c444;
  }

  .brandLogo {
    margin: 1.25rem auto;
    display: block;
  }
}