.mainArea {
  height: 100%;
  padding: 2rem;
}

.innerArea {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.nameArea {
  flex: 1;
}

.title {
  text-align: center;
  color: #fefefe;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0;
}

.imageArea {
  flex: 16;
}

.playerImage {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.controlArea {
  flex: 3;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.control {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.4rem auto;
}

.control > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control i {
  color: #fefefe;
  cursor: pointer;
}

.pageText {
  margin: 0;
  color: #fefefe;
}

.pageText > input[type=text] {
  width: 1rem;
  height: 1rem;
  background: #1d1d1d;
  border: 1px solid #707070;
  color: #fefefe;
  border-radius: 2px;
}

.mediaArea {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.speed {
  width: 2rem;
  height: 1.4rem;
  background: #fefefe;
  color: #1d1d1d;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.smallPlayerArea {
  display: flex;
  height: 100%;
}

.smallImageArea {
  flex: 1;
}

.smallPlayerImage {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.smallControlArea {
  flex: 4;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.smallPlayerTitle {
  color: #ccc;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.smallPageTitle {
  color: #707070;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.smallPlayerControl {
  display: flex;
  padding: 0.4rem auto;
  width: 40%;
  margin-left: auto;
}

.smallPlayerControl > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallPlayerControl i {
  color: #fefefe;
  cursor: pointer;
}

.smallPageText {
  margin: 0;
  color: #fefefe;
  font-size: 0.8rem;
}

.smallPageText > input[type=text] {
  width: 0.8rem;
  height: 0.8rem;
  background: #1d1d1d;
  border: 1px solid #707070;
  color: #fefefe;
  border-radius: 2px;
  font-size: 0.8rem;
}

.smallSpeed {
  width: 1.5rem;
  height: 1rem;
  background: #fefefe;
  color: #1d1d1d;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.7rem;
}

@media (max-width: 1200px) {
  .playerImage {
    width: 60%;
  }

  .control {
    display: block;
  }

  .smallImageArea {
    flex: 2;
  }

  .smallControlArea {
    flex: 3;
  }
}

@media (max-width: 1024px) {
  .playerImage {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .controlArea {
    padding-left: 0;
    padding-right: 0;
  }

  .mediaArea {
    width: 100%;
  }

  .smallOptions {
    margin-left: 1rem;
  }
}

@media (max-width: 600px) {
  .playerImage {
    width: 100%;
  }

  .pageText {
    font-size: 0.7rem;
  }

  .pageText > input[type=text] {
    width: 0.7rem;
    height: 0.7rem;
    font-size: 0.7rem;
  }

  .speed {
    width: 1.2rem;
    height: 0.9rem;
    font-size: 0.7rem;
  }
}